.footer-flex{
    @include flexBox();
    .learn{
        background: #F063B8;
border-radius: 50px;
padding:1rem;
border:none;
    }
    .demo{
@include buttonWhite();
    }
}
.footer-flex2{
    display:flex;
    justify-content:space-between;
}