@media screen and (max-width:990px) {
    #pad{
        padding-right:0rem !important;
    }
    .heading{
        margin-left: 50px !important;
        margin-right:50px !important;
        ul{
            position: absolute;
            right: 8px;
            height: 75vh;
            top: 18vh;
            background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 1;
            width:0%;
            transform: translateX(100%) !important;
            transition: transform 1s ease-out !important;
            overflow-y: hidden !important;
        }
        .nav-active {
            transform: translateX(0%) !important;
            transition: transform 1s ease-in-out !important;
            overflow-y: visible !important;
            width: 100%;
          }
          .menu {
            display: block !important;
            
          }
          .menu div {
            width: 25px !important;
            height: 3px !important;
            background-color: rgb(34, 34, 34);
            margin: 6px !important;
            border-radius: 10px !important;
          }
       
         
    }
    .section-home div{
        margin-top: 2rem !important;
        button{
            margin-top: 2rem;
            margin-bottom: 3rem;
        }
       
    }
    .section-home{
        flex-direction: column;
       
    }
    .section-one{
        margin-left: 50px;
        margin-right:50px;
        h1{
            font-size:60px !important;
        }
    }
    .section-card{
        flex-direction: column;
        text-align: center;    
        margin-left: 50px;
        margin-right:50px;
        padding: 1.5rem 2rem;
        h1{
            font-size:35px !important;
        }
    }
    .first-flex, .second-flex{
        flex-direction: column;
        justify-content: center;
        margin-left: 50px;
        margin-right:50px;
    }
    .footer-flex, .footer-flex2{
        flex-direction: column;
        margin-left: 50px;
        margin-right:50px;
    }
    .pos-img{
        position: absolute;
        top:-1px;
        left:130px;
        width:50% !important;
    }
    .pos-img2{
        position: absolute;
        top:290px !important;
        left:120px !important;
        width:50% !important;
        margin-top:1rem !important;
    }
    .pos-img3{
        position: absolute;
        top:-40px;
        left:130px;
        width:50% !important;
    }
    .pos-img4{
        position: absolute;
        top:240px !important;
        left:100px !important;
        width:50% !important;
        margin-top:4rem !important;
    }
    .card-div .first-flex .inner-flex {
        margin-bottom: 10rem !important;
    }
    .card-div .first-flex {
        margin-bottom: 2rem !important;
        
    }

.card-div p{
    margin-right:2rem;
} 
.card-div .second-flex .inner-flex .setter {
     margin-left: 0rem !important;

}
.card-div .second-flex .inner-flex {
    margin-bottom: 9rem !important;
}
 .card-div .first-flex .inner-flex {
      p{
          margin-right:18rem !important;
           font-size: 12px !important;
      }
    }
    .card-div .second-flex .inner-flex {
        p{
            margin-right:18rem !important;
            font-size: 12px !important; 
        }
      }

}
@media screen and (max-width:890px) {
.carousel-body{
    margin-left: 10px;
    margin-right:10px;
}
    
.carousel{
   
    padding:1.5rem 2.5rem !important;
    h1{
        font-size: 25px !important;
        text-align: center;
    }
}
    .card-carousel{
        
        padding:0.5rem 1rem !important;
        text-align: center;
        p{
            margin-top: 1rem !important;
            // font-size: 13px !important;
line-height: 120% !important;
        }
    }
    .pos-img{
        position: absolute;
        top:-2px;
        left:130px;
        width:55% !important;
    }
    .pos-img2{
        position: absolute;
        top:290px !important;
        left:120px !important;
        width:55% !important;
        margin-top:2rem !important;
    }
    .pos-img3{
        position: absolute;
        top:-40px;
        left:130px;
        width:55% !important;
    }
    .pos-img4{
        position: absolute;
        top:240px !important;
        left:100px !important;
        width:55% !important;
        margin-top:3rem !important;
    }
    .card-div .first-flex .inner-flex {
      p{
          margin-right:14rem !important;
          
      }
    }
    .card-div .second-flex .inner-flex {
        p{
            margin-right:14rem !important;
            
        }
      }
    
}
@media screen and (max-width:770px){
    .pos-img{
        position: absolute;
        top:-2px;
        left:130px;
        width:65% !important;
    }
    .pos-img2{
        position: absolute;
        top:290px !important;
        left:120px !important;
        width:65% !important;
        margin-top:2rem !important;
    }
    .pos-img3{
        position: absolute;
        top:-40px;
        left:130px;
        width:65% !important;
    }
    .pos-img4{
        position: absolute;
        top:240px !important;
        left:100px !important;
        width:65% !important;
        margin-top:3rem !important;
    }
    .card-div .first-flex .inner-flex {
        p{
            margin-right:10rem !important;
            
        }
      }
      .card-div .second-flex .inner-flex {
          p{
              margin-right:10rem !important;
              
          }
        }
}
@media screen and (max-width:740px){
    .card-div .first-flex .inner-flex {
        p{
            margin-right:4rem !important;
            
        }
      }
      .card-div .second-flex .inner-flex {
          p{
              margin-right:4rem !important;
              
          }
        }
}
@media screen and (max-width:580px){
    .pos-img{
        position: absolute;
        top:-20px !important;
        left:130px;
        width:75% !important;
    }
    .pos-img2{
        position: absolute;
        top:290px !important;
        left:120px !important;
        width:75% !important;
        margin-top:2rem !important;
    }
    .pos-img3{
        position: absolute;
        top:-40px;
        left:130px;
        width:75% !important;
    }
    .pos-img4{
        position: absolute;
        top:260px !important;
        left:100px !important;
        width:75% !important;
        margin-top:3rem !important;
    }
    .card-div .first-flex .inner-flex {
        margin-bottom: 6rem !important;
        h3{
            font-size: 18px !important;
        }
        p, a{
            font-size: 13px !important;
        }
    }
    .card-div .second-flex .inner-flex {
        // margin-bottom: 7rem !important;
        h3{
            font-size: 18px !important;
        }
        p, a{
            font-size: 13px !important;
        }
    }
    .card-div .first-flex {
        margin-bottom: 0.7rem !important;
        
    }
    .p{
        font-size: 13 !important;
    }
    .section-two p {
         padding-right: 0rem !important; 
    }

}
@media screen and (max-width:490px){
    .section-one{
      img{
          width:100% !important;
      }
        h1{
            font-size:37px !important;
        }
        p{
            font-size: 15px !important;
        }
    }
    .section-card{
        margin-left: 20px;
        margin-right:20px;
        img{
            width:88% !important;
        }
        h1{
            font-size:25px !important;
        }
        p{
            font-size: 15px !important;
        }
    }
.btn-flex{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    button{
        margin-top: 2rem;
    }
}
.heading{
    margin-left: 20px !important;
    margin-right:20px !important;
}
.section-one{
    margin-left: 20px;
    margin-right:20px;
  
}
.first-flex, .second-flex{
    margin-left: 20px;
    margin-right:20px;
}
.footer-flex, .footer-flex2{
    flex-direction: column;
    margin-left: 20px;
    margin-right:20px;
}
.card-div .first-flex .inner-flex {
    p{
        margin-right:0rem !important;
        
    }
  }
  .card-div .second-flex .inner-flex {
      p{
          margin-right:0rem !important;
          
      }
    }
}
@media screen and (max-width:400px){
    .pos-img{
        position: absolute;
        top:-30px !important;
        left:60px !important;
        width:85% !important;
    }
    .pos-img2{
        position: absolute;
        top:230px !important;
        left:70px !important;
        width:79% !important;
        margin-top:2rem !important;
    }
    .pos-img3{
        position: absolute;
        top:-45px;
        left:60px !important;
        width:85% !important;
    }
    .pos-img4{
        position: absolute;
        top:190px !important;
        left:60px !important;
        width:85% !important;
        margin-top:3rem !important;
    }
    .card-div .first-flex .inner-flex {
        margin-bottom: 7rem !important;
        h3{
            font-size: 18px !important;
        }
        p, a{
            font-size: 10px !important;
        }
    }
    .card-div .second-flex .inner-flex {
        // margin-bottom: 7rem !important;
        h3{
            font-size: 18px !important;
        }
        p, a{
            font-size: 10px !important;
        }
    }
    .card-div .first-flex {
        margin-bottom: 0.7rem !important;
        
    }
    .p{
        font-size: 13 !important;
    }

}